h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'NotoSerif-Regular', serif;
}

.h1 {
  font-size: 26px;

  @include screen-md {
    font-size: 35px;
  }
}

.h2 {
  font-size: 21px;

  @include screen-md {
    font-size: 24px;
  }
}

.h3 {
  font-size: 15px;

  @include screen-md {
    font-size: 17px;
  }
}

.h4 {
  font-size: 12px;

  @include screen-md {
    font-size: 14px;
  }
}

.p {
  font-size: 16px;
  line-height: 1.5;

  @include screen-md {
    font-size: 18px;
  }
}
