h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h2,
h3,
h4,
h6 {
  font-family: "Source Sans", sans-serif;

  & b {
    font-family: "Source Sans Bold", sans-serif;
  }

  & i {
    font-family: "Source Sans Italic", sans-serif;
  }

  & b i {
    font-family: "Source Sans BoldItalic", sans-serif;
  }
}

p,
h1 {
  font-family: "Source Serif", serif;

  & b {
    font-family: "Source Serif Bold", serif;
  }

  & i {
    font-family: "Source Serif Italic", serif;
  }

  & b i {
    font-family: "Source Serif BoldItalic", serif;
  }
}

// sub is used to render small-caps according to design
// contentful richtext does not support small-caps, so we are using sub as a woraround instead
sub {
  all: unset;
  font-variant: small-caps;
  font-family: "Source Sans", sans-serif;
}

.h1 {
  font-size: 26px;

  @include screen-md {
    font-size: 34px;
  }
}

.h2 {
  font-size: 18px;
  margin-bottom: 7px;

  @include screen-md {
    font-size: 21px;
  }
}

.h3 {
  font-size: 17px;
}

.h4 {
  font-size: 14px;
}

.p {
  font-size: 16px;
  line-height: 24px;
}

.li > .p {
  margin-bottom: auto;
}
