.blogpostLarge {
  display: flex;
  flex-direction: column;
  margin: $space-sm 0;

  &__img {
    height: 15rem;

    @include screen-md {
      height: 30rem;
    }
  }

  @include screen-md {
    margin: $space-xl 0;
  }

  &__img {
    height: 15rem;

    @include screen-md {
      height: 30rem;
    }
  }

  &__intro {
    margin-bottom: $space-xs;

    @include screen-md {
      margin-bottom: 1rem;
    }
  }

  &__content {
    overflow: hidden;

    & > .p {
      margin-bottom: 1rem;
    }
  }

  & > .card {
    flex: 1;
  }
}
