.header {
  width: 100%;
  background-color: $white;
  border-bottom: 2px solid $gray;

  & > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > .imageWrapper {
      margin: $space-xs 0;
      width: 100px;
      height: 25px;

      @include screen-md {
        width: 200px;
        height: 50px;
      }
    }
  }
}
