/* SPACING */
$space-xs: 0.5rem;
$space-sm: 1.5rem;
$space-md: 2.5rem;
$space-lg: 3.5rem;
$space-xl: 4.5rem;

$max-width: 52rem;
/*----------------------------------------------------------------*/

/* COLORS */

$white: #ffffff;
$light-gray: #f7f7f7;
$gray: #f1f1f1;
$black: #000000;
$red: #d44317;
$error: #d32f2f;
