@import './variables';

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.homepage {
  overflow-y: scroll;
}

/* scrollbar styling */
::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background: $gray;
}

::-webkit-scrollbar-thumb {
  background: $red;
}

/* scrollbar for FireFox */
@supports (scrollbar-color: $red $gray) {
  * {
    scrollbar-color: $red $gray;
  }
}

@font-face {
  font-family: 'Source Sans';
  src: url('/fonts/SourceSans3-Regular.woff2') format('woff2');
  fonst-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Bold';
  src: url('/fonts/SourceSans3-Bold.woff2') format('woff2');
  fonst-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Italic';
  src: url('/fonts/SourceSans3-Italic.woff2') format('woff2');
  fonst-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans BoldItalic';
  src: url('/fonts/SourceSans3-BoldItalic.woff2') format('woff2');
  fonst-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif';
  src: url('/fonts/SourceSerif4-Regular.woff2') format('woff2');
  fonst-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif Bold';
  src: url('/fonts/SourceSerif4-Bold.woff2') format('woff2');
  fonst-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif Italic';
  src: url('/fonts/SourceSerif4-Italic.woff2') format('woff2');
  fonst-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif BoldItalic';
  src: url('/fonts/SourceSerif4-BoldItalic.woff2') format('woff2');
  fonst-style: normal;
  font-display: swap;
}
