.card {
  background-color: $white;
  padding: $space-sm;

  @include screen-md {
    padding: $space-xl;
  }

  &--overOns,
  &--blogDetail {
    margin: $space-sm 0;

    @include screen-md {
      margin: $space-xl 0;
    }
  }
}
